
{% extends "StatePlan/base.html" %}

{% block content %}
    <a href="{% url 'index' %}">Back to record list</a>
    
    <h3>Subject</h3> 
    <p>{{record.Subject}}</p>
    <h3>Program</h3>
    <p>{{record.Program}}</p>
    <h3>Section:</h3>
    <p>{{record.Section}}</p>
    <h4>Section Number:</h4>
    <p>{{record.Section_Number}}</p>
    <h4>Contents:</h4>
    <p>{{record.Contents}}</p>
    <h4>Attachments:</h4>
	<p>{{record.Attachments}}</p>
	<h4>Plan Page:</h4>
	<p>{{record.Plan_Page}}</p>
	<h4>Page Number:</h4>
	<p>{{record.Page_No}}</p>
	<h4>Effective Date: </h4>
	<p>{{record.Effective_Date}}</p>
	<h4>Superseded:	</h4>
	<p>{{record.Superseded1}}</p>
	<h4>Superseded: </h4>
	<p>{{record.Superseded2}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded3}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded4}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded5}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded6}}</p>
	<h4>Transmittal Number:</h4>
	<p>{{record.Transmittal_Number}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded7}}</p>
{%endblock%}