{% extends "AttachmentPages/base.html" %}

{% block content%}
	<h3> Records in AttachmentPages</h3>
    <a href="{% url 'index' %}">Back to Main Menu</a>  
    <form method='Get' action=''> 
    <input type="text" name="subq" placeholder='Search Subject' value="{{request.GET.subq}}" />
    <!-- <input type="Submit" name="submit"> -->
    <!-- </form> -->
    <!-- <form method='Get' action=''>  -->
    <input type="text" name="svcsq" placeholder="Search Services" value="{{request.GET.srvcsq}}"/>
    <input type="Submit" name="submit">
    </form>

	<ul>
		{% for record in query_list %}
		    <li>
		        <a href="{% url 'attPages_record_detail' record.id %}">
		        {{ record.Subject}} {{record.Services}}
		        </a>
		    </li>
		 {% endfor %}
    </ul>
{% endblock %}

