
{% extends "AttachmentPages/base.html" %}

{% block content %}
	<a href="{% url 'AttachmentPages' %}">Attachment Pages</a>
    <a href="{% url 'index' %}">Back to Main Menu</a>    

    <h3>Subject</h3> 
    <p>{{record.Subject}}</p>
    <h3>Services</h3>
    <p>{{record.Services}}</p>
    <h3>Section:</h3>
    <p>{{record.ProgramServiceSubject}}</p>
    <h4>Section:</h4>
    <p>{{record.Section}}</p>
    <h4>Section Item:</h4>
    <p>{{record.SectionItem}}</p>
    <h4>Contents:</h4>
    <p>{{record.Contents}}</p>
    <h4>State Plan Section:</h4>
	<p>{{record.StatePlanSection}}</p>
	<h4>PDF Page Number:</h4>
	<p>{{record.pdfPageNumber}}</p>
	<h4>Effective Date: </h4>
	<p>{{record.Effective_Date}}</p>
	<h4>Transmittal Number:</h4>
	<p>{{record.TransmittalNumber}}</p>
	<h4>Superseded:	</h4>
	<p>{{record.Superseded1}}</p>
	<h4>Superseded: </h4>
	<p>{{record.Superseded2}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded3}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded4}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded5}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded6}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded7}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded8}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded9}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded10}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded11}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded12}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded13}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded14}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded15}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded16}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded17}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded18}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded19}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded20}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded21}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded22}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded23}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded24}}</p>
	<h4>Superseded:</h4>
	<p>{{record.Superseded25}}</p>	
{%endblock%}